body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: #f8f8f8;
    padding: 10px 20px;
} */

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: red;
} */

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.contact-form-section {
    align-items: center;
    text-align: center;
}

.contact-form-section h1{
    font-size: xx-large;
    margin: 30px;
    align-items: center;
    text-align: center;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-form {
    flex: 1;
}

.contact-info h2,
.contact-form h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

